@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dash {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes grid {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
  }

  .scrollbar-thumb-blue-500::-webkit-scrollbar-thumb {
    background-color: rgb(59 130 246);
    border-radius: 9999px;
  }

  .scrollbar-thumb-blue-500::-webkit-scrollbar-thumb:hover {
    background-color: rgb(37 99 235);
  }

  .scrollbar-track-gray-800::-webkit-scrollbar-track {
    background-color: rgb(31 41 55);
    border-radius: 9999px;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .animate-grid {
    animation: grid 15s linear infinite;
  }
}
